* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  
}

body {
  background-color: rgb(241, 241, 241);
  height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  

}
.image-container {
  display: flex;
  justify-content: right;
}

.image {
  display: flex;
  justify-content: right;
  width: 300px;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 42px;
  font-family: 'Marhey', cursive;
}

.introduction {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.rounds {
  text-align: center;
  margin: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 8px;
  font-size: 18px;
  background-color: #839fb8;
  font-weight: bold;
  /* border: 1px black; */
  border-style: ridge;
  border-radius: 2px;
  box-shadow: #000000b5 2px 2px 1px;
}

button:active {
  background-color: #718da5;
  transition: 0,7s;
}

.scores {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
 
}
.buttons {
  display: flex;
  justify-content: center;

}

.resources {
  margin: 10px;
  font-size: 14px;
}

.footer { 
  background-color: hwb(235 72% 18%);
  min-height: 50px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  margin: 0 3px;
}

.github {
  height: 18px;
  margin: 0 3px;
}